# conda create -n comp4332proj1 python=3.9.5
# conda activate comp4332proj1
# pip install -r requirements.txt
# python -m spacy download en_core_web_sm

# ----------------------------------------
torch==1.12.0+cu102
pytorch-lightning==1.6.5
lightning-bolts==0.5.0
timm==0.6.5
wandb==0.12.21
numpy==1.23.3
pandas==1.4.4
spacy==3.3.2
nltk==3.8.1
# ptflops>=0.6.9
# thop>=0.1.1
# fvcore>=0.1.5.post20220512

# package location
--extra-index-url https://download.pytorch.org/whl/cu102